@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #68778D;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  margin-left: 25px;
  margin-right: 25px;
}

.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #1F314F;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0px;
}

* {
    background-color: #d5e1ef;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-box {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    align-items: center;
    width: 320px;
    height: 499px;
    border-radius: 15px;
    padding: 0;
}

img {
    width: 288px;
    height: 288px;
    margin-top: 15px;
    border-radius: 15px;
}

p {
    background-color: #ffffff;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}